anyascii==0.3.3
asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
defusedxml==0.7.1
Django==5.2.4
django-cors-headers==4.7.0
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-stubs-ext==5.2.1
django-taggit==6.1.0
django-tasks==0.7.0
django-treebeard==4.7.1
djangorestframework==3.16.0
draftjs_exporter==5.1.0
drf-yasg==1.21.10
et_xmlfile==2.0.0
filetype==1.2.0
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
laces==0.1.2
Markdown==3.8.2
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
pillow_heif==1.0.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
soupsieve==2.7
sqlparse==0.5.3
telepath==0.3.1
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
wagtail==7.0.1
wagtail-modeladmin==2.2.0
whitenoise==6.9.0
Willow==1.11.0
